.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.order-link {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0px;
}

.order-link svg {
    margin-left: 0.5rem;
}

.amount {
    color: var(--orange-color);
    font-weight: 600;
}


.order-link {
    display: flex;
    align-content: center;
    /* gap: .75em; */
}

.order-link span {
    margin-top: 0.4em;
}

.ellipsis-paragraph {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    min-height: 5.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;

}

@media (max-width: 1050px) {

    .card-header h3 {
        font-size: 1.4em;
    }

    .amount {
        font-size: 0.8em;
    }

    .order-link {
        font-size: 1em;
    }

}

@media (max-width: 500px) {

    .card-header h3 {
        font-size: 1.4em;
    }


}