.footer-content {
    padding: var(--padding-lg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: var(--light-bg-color);

}

@media(max-width:1050px) {
    .footer-content {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2em 0;

        padding: var(--padding-sm);

    }
}

@media(max-width:500px) {
    .footer-content {
        gap: 2em;
    }
}