.confirm-booking {
    background-color: var(--primary-color);
    padding: var(--padding-lg);
    position: relative;
    background: url('../../images/restauranfood.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.confirm-booking::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(73, 94, 87, 0.6);

}


.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2em;
    border-radius: .4em;
    z-index: 2;
}


.confirm-booking h2 {
    position: relative;
    color: var(--secondary-color);
    margin-bottom: 1em;
}

.booking-data {
    display: grid;
    place-items: center;
    color: #fcfcfc;
}

.list-items {
    font-size: 1.2em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2.5em 4em;
}

li {
    display: flex;
    gap: 1.5em;
}

.seating {
    font-size: 1.2em;
    text-align: center;
    padding: 2em 2em 0;
}

.success-message {
    color: #fcfcfc;
    position: relative;
    font-size: 2em;
    text-align: center;
    background-color: rgba(73, 94, 87, 0.6);
    padding: 2em;
    border-radius: 10px;
}

.back-btn {
    margin: 2em;
    background-color: var(--primary-color);
    color: white;

}

.back-btn:hover {
    margin: 2em;
    color: black;
    background-color: var(--secondary-color);
}



@media (max-width:1050px) {
    .confirm-booking {
        padding: var(--padding-sm);
    }

    .success-message {
        font-size: 1.6em;
    }

}

@media (max-width:500px) {
    .confirm-booking {
        padding: var(--padding-sm);
    }

    .overlay {
        padding: 1em;
    }


    .list-items {
        gap: 2.5em 2em;
        font-size: 1em;
    }

    .success-message {
        font-size: 1.2em;
        padding: 1.2em;
    }




}