.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
    overflow: hidden;
    padding: var(--padding-lg);

}

.basket {
    display: none;
}

.logo {
    align-self: center;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}



a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 1.2em;
    padding: 0.1em 0.4em;
    border-radius: 0.4em;
}

a:hover,
a:focus,
a:focus-visible,
a:active {
    color: #ffffff;
    transition: background-color 0.4s ease-in-out;
    background-color: var(--primary-color);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);


}

.hamburger {
    display: none;
    cursor: pointer;
    color: var(--primary-color);
}

li {
    list-style-type: none;
    margin: 0.5em 0em;
}

@media (max-width: 1050px) {
    .header {
        padding: var(--padding-sm);
        gap: 2em;

    }

}

@media (max-width: 800px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 6.5em;
        right: 0;
        width: 30%;
        padding: 1em;
        gap: 1em;
        background: linear-gradient(135deg, #D5CABD, #EDE7D9);
        border-radius: 0 0 0 .4em;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .nav-open .nav-list {
        display: flex;
        z-index: 3;
    }

    .header {
        display: block;
        padding: var(--padding-sm);
    }


    .hamburger {
        display: block;
        font-size: 1.6em;
    }

    .flex {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}


@media (max-width: 500px) {
    .booking-section {
        padding: var(--padding-sm);
    }

    .nav-list {
        width: 60%;
    }

    .hero-image {
        display: none;
    }

    .header {
        gap: 0px;
    }
}