* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #495E57;
  --markazi-text: "Markazi Text", serif;
  --karla-text: "Karla", sans-serif;
  --secondary-color: #F4ce14;
  --orange-color: #ee9972;
  --light-bg-color: #fdbabb;

  --padding-lg: 4em 12em;
  --padding-sm: 2em;

}

body {
  margin: 0em;
  font-family: var(--karla-text);

}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

h2 {
  font-size: 3em;
  font-family: var(--markazi-text);
}

h3 {
  font-size: 2em;
  font-family: var(--markazi-text);
}

h4 {
  font-size: 1.8em;
  font-family: var(--markazi-text);

}

.self-align {
  align-self: center;
}


.btn {
  background-color: var(--secondary-color);
  border-radius: 0.4em;
  border: none;
  padding: 0.8em 1.2em;
  font-weight: 700;
  font-size: 1.2em;
  margin: 2em 0em;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;

}

.btn:hover {
  background-color: var(--primary-color);
  color: #f8f8f8;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);

}

/* .btn {
  background-color: #495E57;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
} */

/* .btn:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
} */