* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #495E57;
  --markazi-text: "Markazi Text", serif;
  --karla-text: "Karla", sans-serif;
  --secondary-color: #F4ce14;
  --orange-color: #ee9972;
  --light-bg-color: #fdbabb;

  --padding-lg: 4em 10em;
  --padding-sm: 2em;

}

body {
  margin: 0em;
  font-family: var(--karla-text);

}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

h2 {
  font-size: 3em;
  font-family: var(--markazi-text);
}

h3 {
  font-size: 2em;
  font-family: var(--markazi-text);
}

h4 {
  font-size: 1.8em;
  font-family: var(--markazi-text);

}

.self-align {
  align-self: center;
}