.display-section {
    padding: var(--padding-lg);
}

.image-grid {
    max-width: 1000px;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, auto);

}

.image-grid img {
    width: 300px;
    height: 300px;
    object-fit: cover;


}

@media (max-width: 1050px) {
    .display-section {
        padding: var(--padding-sm);
    }

}

@media (max-width: 800px) {
    .display-section {
        display: none;
    }

}